body{
    background-image: url("background.jpg");
    background-repeat: repeat-y;
    background-size: 2200px 1200px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    height: 100vh;
}

#gameCanvas{
    box-shadow: 10px 10px 20px black;
    background-color: black;
}
  
